* {
  padding: 0;
  margin: 0;
}

.banner {
  background-color: green;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.select {
  background-color: green;
  border: none;
  color: white;
}

.phone-icon {
  width: 20px;
}
.phone-section {
  display: flex;
  gap: 8px;
}
@media only screen and (max-width: 640px) {
  .banner {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}
